<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calcula tu impuesto</title>
    <link th:href="@{/css/bootstrap.css}"
          rel="stylesheet" >
</head>
<body>

<div class="card">
    <div class="card-header" >
        CALCULADORA DE IMPUESTO
    </div>
    <div class="card-body">
        <!-- th:action = resuelve una ruta (usa @) definida en el controlador
             th:object = mapea un objeto (usa $) de enviado desde el controlador -->
        <form th:action="@{/calcularimp}" method="post"
              th:object="${impuestoModel}">
            <ul class="list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" th:name="categoria" value="Electronica" id="firstRadio" checked>
                    <label class="form-check-label" for="firstRadio">Electronica</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" th:name="categoria" value="Alimentos" id="secondRadio">
                    <label class="form-check-label" for="secondRadio">Alimentos</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" th:name="categoria" value="Ropa" id="thirdRadio">
                    <label class="form-check-label" for="thirdRadio">Ropa</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="radio" th:name="categoria" value="Muebles" id="fourthRadio">
                    <label class="form-check-label" for="fourthRadio">Muebles</label>
                </li>
            </ul>

            <div class="mb-3" style="width: 30rem;">
                <label for="txtprecio" class="form-label">Ingrese precio:</label>
                <input type="number" th:field="*{precio}" class="form-control" id="txtprecio" placeholder="">
            </div>

            <button type="submit"
                    class="btn btn-primary">Calcular Impuesto</button>
        </form>
        <div th:if="${visualizarimp}" class="alert" th:classappend="${estilodiagnostico}" role="alert" style="width: 30rem;">
            <span th:text="${Resultado} ?:''"></span>
        </div>
    </div>
</div>

</body>
</html>